.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-areas: 'a b c';
    grid-template-columns: 1fr 10fr 5fr;
    gap: 1%;
    padding:1%;
    overflow-y: hidden;
    box-sizing: border-box;
    background: #e8e6e6;
   }
.box{
    background:#fff;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0  40px;
    gap:3%;
    box-sizing: border-box;
    font-size: 18px;
    color: #555;
    overflow-y: hidden;
}
.box p{
    font-size: 18px;
    color: #888;
    padding: 0;
    margin: 0;
}
.box svg, .box img {
    fill: none;
    stroke: #888;
    width: 50px;
    height:50px;
}
.box img {
    width: 60px;
    height:60px;
    border-radius: 60px;
}
.box input{
    width:800px;
    height:40px;
    font-size: 18px;
    border: 1px solid #aaa;
    outline: none;
}
.box input[type=checkbox]{
    width:20px;
    height:20px;
}

.box textarea{
    width: 800px;
    height: 400px;
    font-size: 18px;
    resize: none;
    border: 1px solid #aaa;
    outline: none;
}
.list{
    width: 100%;
    height: 82%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.listItem{
    padding: 0 2%;
    height:10vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:hsl(0, 0%, 95%);
    overflow: hidden;
    gap:5%;
    border-radius: 15px;
}
.order{
    padding: 10% 2%;
    width: 100%;
    background:hsl(0, 0%, 95%);
    overflow: hidden;
    padding: 0 5%;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top:2%;
}
.order h3 {
    font-size: 25px;
}

.order p {
    font-size: 20px;
    margin: 3% 0;
}
.order div{
    height: 2em;
}

.listItem img{
    flex: 1;
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.lisItem h1{
 flex: 2;
}
.listItem h3{
    flex: 3;
}

.listItem div :nth-child(1){
    grid-area: c;
}
.boxHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberInput{
    display: flex;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    border-radius:5px;

}
.numberInput div{
    width:20px;
    height:35px;
    font-size: 30px;
    background: #fff;
    color: #888;
    padding: 2px;
    line-height: 35px;
    text-align: center;
    font-family: Cairo;
}
.numberInput div:nth-child(2){
    color: #000;
    width:40px;

}
.numberInput div:hover{
    background: #ddd;
}

.gallery{
    grid-area: b;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background:#fff;
    border-radius:15px;
  }
  .galleryItems{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 3%;
  }
  .galleryItems img ,.galleryItems svg{
    width:100px;
    height:100px;
    border: 1px solid #777;
    border-radius: 15px;
  }
  
  .galleryItems img:hover ,.galleryItems svg:hover{
    background: rgba(0, 0, 0, 0.214);
  }
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10% 0;
    font-size: 25px;
    color: #777;
}
.wrap p{
    font-size: 30px;
    letter-spacing:3px;
    padding-bottom: 10px;
    line-height: 30px;
}
    
.wrap span{
    color: #333;
    font-size: 100px;
    line-height: 100px;
    font-weight: bold;
}

.A{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}
.A h1{
    margin: 15px 0;
}

.chart{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background: rgb(228, 228, 228);
    position: relative;
    overflow: hidden;
}

.chartProgress{
    width: 300px;
    height: 300px;
    position: absolute;
}

.chart >*:last-child{
    position: absolute;
    transform: translate(25px,25px);
    width: 250px;
    height: 250px;
    border-radius: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.chart >*:last-child h1{
    font-size: 50px;
    margin: 0;
}

.notification{
    width: 100%;
    padding:4% 2%;
    border-radius: 10px;
    box-sizing: border-box;
    background: #eee;
}