.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-areas: 'a b c e ' 'a d d e ' 'a d d  e';
    grid-template-columns: 1fr repeat(3,5fr) ;
    grid-template-rows: 10fr 20fr 20fr ;
    gap: 1%;
    padding:1%;
    overflow-y: hidden;
    box-sizing: border-box;
    background: #e8e6e6;
   }
.box{
    background:#fff;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0  40px;
    box-sizing: border-box;
    font-size: 18px;
    color: #555;
}
.box p{
    font-size: 25px;
    color: #888;
    padding: 0;
    margin: 0;
}
.box svg{
    fill: none;
    stroke: #888;
    min-width: 50px;
    min-height:50px;
}
.box:nth-child(1){
    grid-area:b;
}
.box:nth-child(2){
    grid-area:c;
}
.box:nth-child(3){
    grid-area:e;
}
.box:nth-child(4){
    grid-area:d;
}
.cartList{
    width: 100%;
    height: 82%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.cartItem{
    padding: 0 2%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:hsl(0, 0%, 95%);
    overflow: hidden;
    gap:5%;
    border-radius: 15px;
}

.cartItem img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cartItem h1{
 flex: 2;
}
.cartItem h3{
    flex: 3;
}

.cartItem div :nth-child(1){
    grid-area: c;
}
.boxHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
