:root{
  --bg:#EEF3F7;
  --bg2:#f2f2f2;
  --primary:#333;
  --secondary:#5c7978;
  --tertiary:#B6DDDC;
  --radius:20px;
  --gap:20px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:Cairo;
  background: var(--bg);
}
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h2,h3{
  line-height: 1em;
  padding: 0;
  margin: 0;
}
h2{
  font-size: 30px;
  line-height:30px;
  color: var(--primary);
}
h3{
  font-size:1.5em;
  color:var(--secondary);
}

h4{
  font-size: 25px;
  line-height: 25px;
}

.button{
  border: 1px solid var(--primary);
  width: fit-content;
  color: var(--primary);
  padding: 8px 10px;
  border-radius:calc(var(--radius)/4);
  font-weight: 600;
  cursor: pointer;
  white-space:nowrap;
  font-size:18px;
  line-height:0.8em;
  height: 0.8em;
  transition:0.05s;
}

.button:hover{
  background:var(--primary);
  color: #fff;
}

.horizontal{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap:5%;
}

.horizontal.wide{
  width: 100%;
  gap:10%;

}
.horizontal.evenly{
  justify-content: space-evenly;

}
.horizontal svg{
  max-width:40px;
  max-height: 40px;
}

.item{
  padding: 0 5%;
  background: #fafcfa;
  display: grid;
  grid-template-areas:'i' 'n' 'p';
  grid-template-rows: 5fr 1fr 1fr;
  transition: 0.2s;
  animation: popin 0.2s;
  position: relative;
}
@keyframes popin{
  0%{transform: scale(0.95);opacity: 0.9;}
  100%{transform: scale(1);opacity: 1;}
}

.item h2{
  grid-area: n;
}
.item h3{
  grid-area: p;
}
.item img{
  width: 80%;
  justify-self:center;
  transition: 0.1s;
}
.item:hover img{
  z-index: 1000;
  transform: scale(1.2);
}


.switch{
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background: #e7e7e7;
  transition: 0.2s;
  overflow: hidden;
}
.switch.on{
  background: #3698b6;
 
}
.switch div{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #d1d1d1;
  box-shadow:1px 0 3px #00000033;
  box-sizing: border-box;
  transition: 0.2s;
}
.switch div.on{
  transform: translateX(30px);
}
.switch div.on{
  transform: translateX(30px);
}



